<p>
    I recently graduated from my Master Program at  at <a href="https://www.cmu.edu/">Carnegie Mellon University</a> studying <a href="https://www.ece.cmu.edu/">Electrical and Computer Engineering</a>.
    I recieved my B.S. in Electrical Engineering from <a href="https://www.ece.cmu.edu/">University of California, San Diego</a> in 2023.
    <br><br>
    I worked on leveraging large scale data for artificial intelligence.
    During my internships, I worked closely with research and product teams to build scalable data pipelines, 
    resolve data bottlenecks, train machine learning models, and present insights through interactive, user-friendly visualizations.
    <br><br>
    My passion lies in the intersection of artificial intelligence and electrical engineering, focusing on developing intelligent, scalable, and deployable solutions that utilizes both software and hardware for real-world impact.
</p>